<form
  [formGroup]="form"
  *ngIf="userModel"
>
    <div class="form-group">
      <label for="up-username">Username</label>
      <input
        type="text"
        class="form-control underlined"
        id="up-username"
        placeholder="Enter your username"
        formControlName="email"
        [(ngModel)] = "userModel.username"
      >
    </div>
    <div class="form-group">
      <label for="up-password">Password</label>
      <input
        type="password"
        class="form-control underlined"
        id="up-password"
        placeholder="Password"
        formControlName="password"
        [(ngModel)] = "userModel.password"
      >
    </div>
    <button type="submit" class="btn btn-primary" (click)="authentication()">Login</button>
</form>
