
<div class="main-wrapper">
  <div class="app">
    <!--HEADER-->
    <header class="header">

      <div class="header-block header-block-nav">
        <ul class="nav-profile">
          <li>
            <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>One fine body&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
              </div>
            </ng-template>

            <button class="btn btn-info " (click)="open(content)">Curent</button>
          </li>
          <li class="profile dropdown">
           <button type="button" class="btn btn-danger">Logout</button>
          </li>
        </ul>
      </div>
    </header>
    <!--HEADER-->
    <!--SIDEBAR-->
    <aside class="sidebar">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <div class="brand">
            <div class="logo">
              <span class="l l1"></span>
              <span class="l l2"></span>
              <span class="l l3"></span>
              <span class="l l4"></span>
              <span class="l l5"></span>
            </div>
            Connected Digital
          </div>
        </div>
        <nav class="menu">
          <ul class="nav metismenu">
            <li routerLinkActive="active">
              <a routerLink="/admin/workers-list/"> <i class="fa fa-building-o"></i>Workers</a>
            </li>
            <li  routerLinkActive="active">
              <a  routerLink="/admin/tasks-list/"> <i class="fa fa-flash"></i>Tasks</a>
            </li>

          </ul>
        </nav>
      </div>
    </aside>
    <!--SIDEBAR-->
    <!--CONTENT-->
    <article class="content">
      <router-outlet></router-outlet>
    </article>
    <!--CONTENT-->
  </div>
</div>

